# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration (Local)
DATABASE_URL=postgres://postgres:postgres@postgres:5432/red_tetris
DB_PORT=5432

# Database Configuration (Docker & Postgres Container)
POSTGRES_DB=red_tetris
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Client Configuration
VITE_SERVER_URL=http://localhost:3000
CLIENT_PORT=4173
